.btn-primary
{
	padding-left: 48px;
	padding-right: 47px;	
}
.img-fluid
{
    display: block;
    max-width: 100%;
    height: 120px;
	width:100%;
}
.mrg
{
	margin-right:2rem;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    /* background-clip: padding-box; */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    /* max-width: 65%; */
    width: 65%;
    margin: 0 auto;
}
/* FIX (Open modal is shifting body content to the left) */
.modal-open , #home
{
	padding-right:0 !important;	
}
@media only screen and (max-width: 720px) 
{
   .mrg 
   {
		margin-right: 0;
	}
}
#sign-up-form-body
{
	text-align:center;
	margin-top:18px;
}
.req-form-field
{
	color:red;	
}
#order-btn
{
	float: left;
    width: 100%;
    background-color: #0275d8;
    border-color: #0275d8;
}
