	

	nav{
		height:50px;
	}

 


   #para1{text-align:center;
  width:1250px;
  height:400px;
  border-style:double;
  background-color: #000000;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding-top:30;
  opacity:0.8;

  }
  
  #signupForm
{	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding-top:30px;
	padding-right:30px;
	padding-left:30px;
	height:400px;
}
h3{
	color:white;
}
h4{
	
	color:white;
	
}


p {
	padding:10px;
}




#insertPlants{
	padding-left:20px;
	padding-right:20px;
	
	
}

body{
	font-family:helvetica;
	
	
}

a{
	color:black;
}

.navbar-collapse {
	background-color: red;
}


