html {
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: static;
}
	
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="c-"] {
    float: left;
    padding: 15px;
}

.c-1 {width: 8.33%}
.c-2 {width: 16.66%}
.c-3 {width: 25%}
.c-4 {width: 33.33%}
.c-5 {width: 41.66%}
.c-6 {width: 50%}
.c-7 {width: 58.33%}
.c-8 {width: 66.66%}
.c-9 {width: 75%}
.c-10 {width: 83.33%}
.c-11 {width: 91.66%}
.c-12 {width: 100%}

.header {
	background: forestgreen;
	color: white;
	font-family: Roboto, sans-serif;
	font-size: 2em;
	font-weight: 300;
	padding: 0.5em;
	text-decoration: none;
	height: 2.3em;
	margin-bottom: 10px;
}

.smallfont {
	font-size: 0.6em;
	font-weight: 600;
	vertical-align: middle;
}

.button {
	border: 1px solid #196719;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 0.15em;
	text-decoration: none;
	color: white;
	background: #196719;
	padding: 0.25em;
	transition: 0.25s;
	margin-top: auto;
	margin-bottom: auto;
}

.hbutton {
	padding-left: .25em;
	padding-right: .25em;
	text-decoration: none;
	color: white;
	transition: .25s;
}
.hbutton:hover {
	padding-left: .5em;
	padding-right: .5em;
}

.hbutton:active {
	padding-left: .55em;
	padding-right: .55em;
}

.button:hover {
	background: green;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.2em;
	margin-bottom: 0.05em;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}
h4, h5, h6 {
	font-size: 1em;
	font-weight: 600;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

input {
	margin: 0.25em;
	padding: 0.15em;
	font-size: 20px;
	margin: 0;
}

