


html {
	--main-color: #cc9966;
	--main-button: #ac7339;
	--main-border: #ac7339;
	--hl-button: #86592d;
	--hl-border: #86592d;
	--main-text: black;
	--main-header: white;

	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: static;
	margin-bottom: 8em;
    background-image: url(https://static.pexels.com/photos/172289/pexels-photo-172289.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer::before {
	margin-top: 100px;
	margin-bottom: 100px;
}
.footer {
	clear: both;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0.25em;
	height: 8em;
	margin: 0;
	margin-top: 0;
	font-size: 12px;
}

* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="c-"] {
    float: left;
    padding: 15px;
}

.c-1 {width: 8.33%}
.c-2 {width: 16.66%}
.c-3 {width: 25%}
.c-4 {width: 33.33%}
.c-5 {width: 41.66%}
.c-6 {width: 50%}
.c-7 {width: 58.33%}
.c-8 {width: 66.66%}
.c-9 {width: 75%}
.c-10 {width: 83.33%}
.c-11 {width: 91.66%}
.c-12 {width: 100%}

@media only screen and (max-width: 768px) {
	[class*="c-"] {
		width: 100%;
	}
}

.header {
	background: var(--main-color);
	color: var(--main-header);
	font-family: Roboto, sans-serif;
	font-size: 2em;
	font-weight: 300;
	padding: 0.5em;
	text-decoration: none;
	height: 2.3em;
	margin-bottom: 10px;
}

.smallfont {
	font-size: 0.6em;
	font-weight: 600;
	vertical-align: middle;
}

.button {
	border: 1px solid var(--main-border);
	text-align: center;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 20px;
	padding: 0.15em;
	text-decoration: none;
	color: var(--main-text);
	background: var(--main-button);
	padding: 0.25em;
	margin-top: auto;
	margin-bottom: auto;
}

.hbutton {
	padding-left: .25em;
	padding-right: .25em;
	text-decoration: none;
	color: var(--main-text);
}
.hbutton:hover {
	padding-left: .5em;
	padding-right: .5em;
}

.hbutton:active {
	padding-left: .55em;
	padding-right: .55em;
}

.button:hover {
	background: var(--hl-button);
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.2em;
	margin-bottom: 0.05em;
	font-family: Roboto, sans-serif, bold;
	font-weight: bold;

}
h4, h5, h6 {
	font-size: 1em;
	font-weight: 600;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

select {
	margin: 0.25em;
	padding: 0.15em;
	font-size: 20px;
	background: none;
	border: none;
	color: var(--main-text);
	border-bottom: 2px solid var(--main-border);
}

select:hover {
	border-bottom: 2px solid var(--hl-border);
}


input {
	color: var(--main-text);
	padding: 0.15em;
	font-size: 20px;
	margin: 0;
	border: none;
	background: var(--main-color);
	border: 1px solid var(--main-border);
}

.userbox {
	width: 250px;
	height: 250px;
	padding: 20px;
	border: 1px solid gray;
	background: white;
	float: left;
	margin: 35px;
  box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.51);
}

.title {
	font-weight: bold;
	text-decoration: none;
	color: black;
}
