	

/* GENERAL */
p {padding:10px;
	color:#777;}
  
body{font-family:helvetica;	}

a{color:#777;}

nav{height:0px;}  

  
h3{color:white;
}
table{
    border:0;
    border-radius:10px;
    
}


h4{color:white;}  
  
/*HEADER*/
.navbar-collapse {
	background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}

/* Login.php*/  
  #signupForm{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding-top:30px;
	padding-right:30px;
	padding-left:30px;
	height:400px;
	border-style:double;
}

   #para1{text-align:center;
  height:400px;
  border-style:double;
  background-color: #000000;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding-top:30;
  opacity:0.8;
  margin-top: 20px;
  
}

/*Data.php*/

#logoutNavbar{padding-top:10px;}

.list{
    background-color:#fff;
}

#insertPlants{
	padding-left:20px;
	padding-right:20px;
}

#plantsForm{
	padding-top:20px;
	border-radius:10px;
	border-style:double;
	padding-left:15px;
	padding-right:15px;}
	
/*care.php*/	

 #para2{text-align:center;
  border-style:double;
  background-color: black;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding-top:30; 
   
  

  }
#para2Table{
    background-color:#e3e5dc;
    border-radius:10px;
}

  
  #para2 ul li h3{color:#777;}
  
#plantCare {
	background-color:black;
	padding:10px;
	margin:10px;
	
	
}

input:focus {
  background-color: #ccffb3;
  shadow:yellow;
}



