.thumbnail img{
    width: 230px;
    height: 150px;
}

.thumbnail{
    width: 250px;
    height: 320px;
}

.navbar {
  background-color:Crimson;
  background-image: none;
  background-repeat: no-repeat;
 }
