

#signupForm
{	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:10px;
	padding-right:20px;
	padding-left:20px;
}
h3,h4{
	
	color:white;
	
}



p {
	padding:10px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	
}

li {
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	
}

a {
	
	width: 120px;
	margin-left:auto;
	margin-right:auto;
}

#logo{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	
}

#loginforms{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	
}

#insertPlants{
	padding-left:20px;
	padding-right:20px;
	
	
}

body{
	font-family:helvetica;
	
	
}