* {
	margin: 0;
	padding: 0;
}

#page-wrap {
	margin: 60px;
}
p {
	margin: 50px 0;
}

/*
Style for desktops and laptops
*/
table {
	width: 100%;
	border-collapse: collapse;
}
/* striping */
tr:nth-of-type(odd) {
	background: #eee;
}
th {
	background: #2b90d9;
	color: white;
	font-weight: bold;
}
td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}

